# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.hex
main.map
*.o
*.a
*.d

# Exclude Mac OS X temporary
._*
.DS_Store

# Exclude IDE files
.idea
compile_commands.json
miosix.code-workspace
.vscode/c_cpp_properties.json
