# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
*.elf
*.bin
*.hex
*.map
*.exe
*.o
*.a
*.d

# Exclude Mac OS X temporary
._*
.DS_Store

# Exclude IDE files
.idea
miosix.code-workspace
.vscode/c_cpp_properties.json
tests/test_main
compile_commands.json
